@import "../../variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 310px;
    font-size: 1.1rem;
    font-weight: bold;
    color: $light-black;
    margin: 3px 5px 10px 8px;
}

.header-button-wrapper {
    display: flex;
}

.button-clear {
    background-color: $light-pink;
}

.button-settings {
    background-color: $light-blue;
}

.button-floating {
    background-color: $light-green;
}

.clear,
.settings,
.floating {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.clear {
    background-image: url("../../assets/delete.png");
}

.settings {
    background-image: url("../../assets/settings.png");
}

.floating {
    background-image: url("../../assets/floating.png");
}
