$light-black: rgba(31, 31, 31, 0.7);
$light-pink: rgba(224, 31, 176, 0.425);
$light-green: rgba(31, 224, 95, 0.425);
$light-yellow: rgba(224, 211, 31, 0.7);
$light-blue: rgb(22, 162, 255, 0.425);
$dark-blue: rgb(22, 162, 255, 0.7);
